@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="jumbotron">
		<h1>Sample Todo App using Luno</h1>
		<p>A sample todo app that uses Luno for user management and storage.</p>
		<p><a class="btn btn-primary btn-lg" href="http://github.com/0xdeafcafe/luno-dotnet" role="button">Learn more</a></p>
	</div>
</div>